<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  
    //private static string Connection = "server=pl-4.hkdns.co.za;user=imonitor_sv1;database=imonitor_sv1;password=!@#QWEASDZXC;";//ConfigurationManager.AppSettings["ConnectionString"];
       //private static string Connection = "server=127.0.0.1;user=root;database=imonitor_school_01;password=;"; 
      

  -->
    <appSettings>
      <add key="DatabaseConnection" value="server=pl-4.hkdns.co.za;user=imonitor_sv1;database=imonitor_sv1;password=!@#QWEASDZXC;"/>
      <add key="LogConnection" value="server=pl-4.hkdns.co.za;user=imonitor_log;database=imonitor_logs;password=1!@#QWEASDZXC;"/>
      <add key="ApiUrl" value="https://sv1api.imonitor.co.zw"/> 
      <add key="AppName" value="DemoHigh"/> 
  </appSettings>
</configuration>